---
layout: page
title: "🕊🕊🕊"
description: "我不知道这里应该写点什么咕咕"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        程序员的一生就是写代码然后改BUG🐞<br><br>
        世界那么大，我哪儿都没去过。
    </blockquote>
    起初，工程师创造个人电脑。<br><br>
	电脑是混沌的，屏幕黑暗，工程师的灵运行在电路板上。<br><br>
	工程师说：要有系统，于是就有了系统。<br><br>
	工程师看系统是好的，就把系统安装在磁盘上，通过磁盘驱动器读取。<br><br>
	电脑启动时读取磁盘内的系统到内存上，工程师分配第一个磁盘驱动器为A，事就这样成了。<br><br>
	工程师就定义里面的磁盘为A盘，工程师看A盘是好的。<br><br>工程师说，为了方便，要有第二块磁盘驱动器，工程师称第一个磁盘为A，第二个磁盘为B，工程师看着是好的。<br><br>工程师说，要有硬盘，可以存储数据，快速安全。<br><br>
	并要装在机箱内，使人们看不到，事就这样成了。<br><br>
	工程师看硬盘是好的，有磁盘，有硬盘，各归其位，工程师称硬盘为C盘，工程师看C盘是好的。<br><br>于是工程师创造Windows，工程师让Windows运行在硬盘上，所以Windows的默认安装路径是C盘，工程师按兼容的思考升级Windows，乃是之后Windows默认安装路径都是C盘。<br><br>
	工程师看这一切是好的，于是就休息了。
	
    <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/20592179">cOMMANDO － [为什么在 Windows 中常常见到的第一个分区的盘符是 C:，而不是 A:？] </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
